* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.canvas {
    position:absolute;
    max-width: 80vw;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 8px 10px rgb(61, 61, 61);
    image-rendering: pixelated;
    overflow: hidden;

}

img {
    display: none;
}

#heading {
    text-align: center;
    color:white;
    padding-top: 1em;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2em;
    padding: 2em;
    font-size: 0.5em;
}

#about {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2em;
}

#objective {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2em;
}

@media screen and (max-height:500px) {
    #heading {
      font-size: 0.75em;
    }
}

@media screen and (max-height:300px) {
    #heading {
      font-size: 0.5em;
    }
}

@media screen and (max-width:600px) {
    #main {
      font-size: 0.3em;
    }
}

@media screen and (max-width:400px) {
    #main {
      font-size: 4px;
    }
}